<ion-header>
  <ion-toolbar>
    <ion-title>Prevention</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card id="Fussballtest">
    <ion-img src="/assets/images/background.jpg" ></ion-img>
    <div class="card-title">Fussballtest</div>
    <div class="card-subtitle">Machen Sie den Test heute...</div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Hello World</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>The content for this card</p>
    </ion-card-content>
  </ion-card>

</ion-content>
