<ion-content class="card-background-page">
  <ion-item href="/tabs/(prevension:fussballtest)" routerDirection="forward">
    <ion-card id="Fussballtest">
      <ion-img src="/assets/images/background.jpg" ></ion-img>
      <div class="card-title">Fussballtest</div>
      <div class="card-subtitle">Bestimme dein Verletzungsrisiko beim Fussballspielen.</div>
    </ion-card>
  </ion-item>

  <ion-item>
    <ion-card id="Fitnesstest">
      <ion-img src="/assets/images/fitness.jpg" ></ion-img>
      <div class="card-title">Fitnesstest</div>
      <div class="card-subtitle">Möchten Sie wissen, wie fit Sie sind?</div>
    </ion-card>
  </ion-item>

</ion-content>
