<ion-content>
  <a href="/tabs/(prevension:fussballtest)" routerDirection="forward">
    <img src="/assets/images/background.jpg" />
      <!--<img src="/docs/assets/img/avatar-finn.png"></img>-->
    <div class="label-container">
      <div class="label">
        <h2>Fussballtest</h2>
        <p>Bestimme dein Verletzungsrisiko beim Fussballspielen.</p>
      </div>
    </div>
  </a>

  <a>
    <img src="/assets/images/fitness.jpg" />
    <div class="label-container">
      <div class="label">
        <h2>Fitnesstest</h2>
        <p>Möchten Sie wissen, wie fit Sie sind?</p>
      </div>
    </div>
  </a>
</ion-content>
