// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  --ion-toolbar-background-color: #ff8200;
  --ion-tabbar-text-color-active: #ff8200;

  --ion-color-primary: #ff8200;
  --ion-color-primary-rgb: 255,130,0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e07200;
  --ion-color-primary-tint: #ff8f1a;

  --ion-color-secondary: #00b8cf;
  --ion-color-secondary-rgb: 0,184,207;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #00a2b6;
  --ion-color-secondary-tint: #1abfd4;

  --ion-color-tertiary: #6610f2;
  --ion-color-tertiary-rgb: 102,16,242;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #5a0ed5;
  --ion-color-tertiary-tint: #7528f3;

  --ion-color-success: #009933;
  --ion-color-success-rgb: 0,153,51;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #00872d;
  --ion-color-success-tint: #1aa347;

  --ion-color-warning: #febf00;
  --ion-color-warning-rgb: 254,191,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0a800;
  --ion-color-warning-tint: #fec51a;

  --ion-color-danger: #cc3333;
  --ion-color-danger-rgb: 204,51,51;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #b42d2d;
  --ion-color-danger-tint: #d14747;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}