ion-fab-button ion-icon {
  color: #fff;
}

.state {
  padding: 15px 10px;
  background-color: #e2e2e2;
  height: 100%;
}

h2 {
  margin-top: 5px;
}

.d-flex {
  display: flex;
}

ion-grid ion-icon {
  font-size: 40px;
  margin-right: 20px;
}

.unfalltitel {
  position: absolute;
  top: 50%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: #ff841b;
  text-shadow: -1px -1px 4px #fff,
  1px -1px 4px #fff,
  -1px 1px 4px #fff,
  1px 1px 4px #fff;
}

.unfallOhneStatus {
  height: 90%;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.unfall.hydrated {
  --background: url("/assets/images/unfall.jpg") no-repeat center center fixed;
  --background-size: cover;
}

.qr-button {
  top: 75%;
  position: relative;
  --margin-left: auto;
  --margin-right: auto;
}