<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tabs/(unfall:unfall)"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="cameraDevices && cameraDevices.length > 1"
                    color="secondary"
                    (click)="switchCamera()">
      <ion-icon name="reverse-camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <zxing-scanner [device]="cameraDevice"
                 (camerasFound)="camerasFound($event)"
                 (scanSuccess)="scanSuccess($event)"></zxing-scanner>
</ion-content>
